*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    margin-top: 150px;
}

#user-score{
    text-align: center;
    font-size: 3rem;
    margin-top: 250px;
    display:flex;
    justify-content: space-evenly;
}

.number-container{
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.random-number{
    height: 100%;
    width: 10%;
    border-radius: 50%;
    border: 3px solid black;
    text-align: center;
    line-height: 150px;
    font-size: 5rem;
}

